nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav { 
    background-color: gold;
    padding: 15px 20px ;
    text-align: left; 
    border-radius: 16px;
    width:fit-content;
    position: sticky;
    top: 0;
    left: 10;

    
    
}

nav a {
color:black;
text-decoration:none;
padding: 10px 10px;
border-radius: 6px;
border: 1px solid black; 
}

nav a:hover {
    background-color: antiquewhite;
    border-radius: 6px;
    color: black;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    text-align : right;
    color: black;
    background-color:gold; 
    padding: 10px 15px;
    border-radius: 13px;
    width:fit-content;
}

h1{
    color: gold;
}

h2{
    color: gold;
}

h3{
    color: gold;
}

h4{
    color:gold;
}

li{
    color:gold;
}

body{
 background-color: black;
}

#container1{
    background-color: black;
    margin: 20px 20px;
    width: 300px;
    height: fit-content;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
border: 5px solid gold;
}
   
#container2{
    background-color: black;
    margin: 20px 20px;
    width: 300px;
    height: fit-content;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid gold;
}

#container3{
    background-color: black;
    margin: 20px 20px;
    width: 300px;
    height: fit-content;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid gold;    
}

h2{
    text-decoration: underline;
}
img{
    max-height: 450px;
    max-width: 450px;
    border-radius: 16px; 
    border: none; 
}