nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#0B1325;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  border-radius:10px;
  z-index: 1000;
}

nav ul li {
  float: right;
  text-decoration: none;
  color: #C59B73;
}

nav ul li a {
  display: block;
  color: #C59B73;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color:#C59B73 ;
    border-radius: 10px ;
    color:#0B1325 ;
}


h1{
    color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    
}

h2{
    color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    
}

h3{
    color:white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    
}

h4{
    color:white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    
}

li{
    color:white;
}

body{
    background-image: url(https://images.unsplash.com/photo-1577565489652-12f548590481?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



h2{
    text-decoration: underline;
}
img{
    max-height: 450px;
    max-width: 450px;
    border-radius: 16px; 
    border: none; 
}

h5{
    color: white;
    text-align: center;
}

.containers {
  display: flex;       
  gap: 20px;
  color:#C59B73;
  

}

.container1{
  flex: 1;  
  margin-top: 2%;          
  background:#0B1325;
  border-radius:10px;
  padding: 20px;
  height:auto;
  width:fit-content;
  transition:all .25s ease;
}